@import 'resources';

* {
  box-sizing: border-box;
}

html,
body {
  padding-top: 60px;
  background: $body-bg;
  font-family: $font-main;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  background: $header-bg;
  box-shadow: $paper-shadow;
  transition: $base-transition;

  .branding {
    height: 60px;
    line-height: 60px;
    background: $header-branding-bg;

    .content {
      @include center-content($main-width, 0 $base-padding);

      a {
        @include no-select;

        opacity: 0.8;
        font-weight: 600;
        font-size: 1.2em;
        color: $header-text-color;
        transition: $base-transition;

        img {
          height: 32px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }

        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }

  .search-container {
    @include center-content($main-width, 0 $base-padding);

    .search-input {
      width: 100%;
      height: 60px;
      border: none;
      outline: none;
      font-size: 0.9em;
      background: none;
      padding-left: 36px;
      color: $input-text-color;
    }

    .search-input::placeholder {
      color: $input-placeholder-color;
    }

    .search-label {
      font-size: 1.45em;
      position: relative;
    }

    .search-label:before {
      top: 3px;
      content: 'search';
      position: absolute;
      font-family: $font-material;
      color: $input-placeholder-color;
    }
  }

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    background-color: $header-text-color;
  }

  &:focus-within:after {
    visibility: visible;
    transform: scaleX(1);
  }
}

.icon-container {
  @include center-content($main-width, 0 $base-padding);

  .icon-set {
    .set-title {
      color: $icon-set-color;
      font-weight: 600;
      line-height: 32px;
      border-bottom: 1px solid $icon-set-color;
    }

    .icon {
      width: 10%;
      margin: 0.5em;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      color: $icon-set-color;
      transition: $base-transition;

      p {
        margin: 0;
      }

      i {
        font-size: 2.4em;
      }
    }

    .icon:hover {
      color: $icon-set-color-hovered;
    }
  }
}
