@import 'resources';

* {
  box-sizing: border-box;
}

html,
body {
  padding-top: 60px;
  background: $body-bg;
  font-family: $font-main;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  background: $header-bg;
  box-shadow: $paper-shadow;

  .branding {
    line-height: 60px;
    background: $header-branding-bg;

    .content {
      @include center-content($main-width, 0 $base-padding);

      a {
        @include no-select;

        opacity: 0.6;
        font-weight: 500;
        font-size: 1.2em;
        color: $header-text-color;
        transition: $base-transition;

        img {
          height: 32px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }
      }

      a:hover {
        opacity: 0.8;
      }

      a:active {
        opacity: 1;
      }
    }
  }

  .search-container {
    @include center-content();

    .search-input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 0.9em;
      padding-left: 36px;
      color: $input-text-color;
    }

    .search-input::placeholder {
      color: $input-placeholder-color;
    }

    .search-label {
      font-size: 1.45em;
      position: relative;
    }

    .search-label:before {
      top: 5px;
      content: 'search';
      position: absolute;
      font-family: $font-material;
      color: $input-placeholder-color;
    }
  }
}
